html,body,#app, #app>div {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    min-width: 1180px;
}
.mt-15 {
    margin-top: 15px;
}
.mb-15 {
    margin-bottom: 15px;
}
.mr-15 {
    margin-right: 15px;
}
.ml-15 {
    margin-left: 15px;
}
.fr {
    float: right;
}
.fl {
    float: left;
}
.index .el-header .nav_top .el-submenu__title {
    font-size: 16px;
}
.el-card {
    margin: 20px 0;
}
.el-form-item__content .avatar-uploader .el-upload {
    border: 1px dashed #d9d9d9;
    border-radius: 6px;
    cursor: pointer;
    position: relative;
    overflow: hidden;
  }
.el-form-item__content .avatar-uploader .el-upload:hover {
  border-color: #409EFF;
}
.quill-editor .ql-container {
    height: 200px;
}
.line {
    text-overflow: -o-ellipsis-lastline;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    line-clamp: 2;
    -webkit-box-orient: vertical;
  }